body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1000px;
  width: 97%;
  font-size: clamp(11px, 2vw, 18px);
  margin: 10px auto;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 68px;
}

/*-----------------------------------------------------------------*/
/* Header --------------------------------------------------------*/
/*-----------------------------------------------------------------*/

.header {
  margin: 0;
  background: #ffffffb9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  max-width: 1000px;
  width: 97%;
  z-index: 1000;
}

.header #name {
  margin: 20px 0;
  font-size: clamp(14px, 2.3vw, 20px);
}
#name a {
  color: inherit;
  text-decoration: none;
}
#name a:visited {
  color: inherit;
}
.subpage {
  background: transparent;
  font-size: clamp(9px, 1.8vw, 18px);
  text-align: left;
  border: none;
  color: #6d6d6d;
}
.nav {
  display: flex;
  gap: clamp(1px, 2vw, 20px);
  align-items: center;
}

.nav .subpage {
  cursor: pointer;
  transition: transform 0.2s;
}

.nav .subpage:hover {
  transform: translateY(3px);
}

.header.hidden {
  transform: translateY(-120%);
}

.header.animate,
.header.animate.hidden {
  transition: transform 1s ease-in-out;
}

/*-----------------------------------------------------------------*/
/* Content --------------------------------------------------------*/
/*-----------------------------------------------------------------*/

.main-image {
  aspect-ratio: 16 / 10;
  width: 100%;
  background: url('main-image.jpg?v=20260205') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}
.title {
  color:black;
  font-size: clamp(4px, 5vw, 40px);
  font-weight: bold;
  margin-bottom: 10px;
}
.intro {
  margin: 50px 0;
  margin-bottom: 130px;
  color: #6d6d6d;
}

.section-title {
  font-size: clamp(12px, 2.5vw, 25px);
  font-weight: bold;
  margin: 90px 0 20px 0;
  color: black;
}
.flow-chart {
  aspect-ratio: 16 / 10;
  width: 100%;
  background: url('flow-chart.png?v=20260205') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}
.threedata {
  aspect-ratio: 5 / 4;
  width: 100%;
  background: url('rhinodata.jpg?v=20260205') no-repeat center center;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}
.dataset {
  display: flex;
  gap: 30px;
  /* height: 530px; */
  padding: 0 2px;
  flex-direction: row;
}
@media (max-width: 768px) {
  .dataset {
    flex-direction: column;
  }
}

.dataset .text {
  flex: 1 1 0;
}
.dataset #dataset-image {
  flex: 1 1 0;
  aspect-ratio: 2 / 3;
  background: url('initial-data.png?v=20260205') no-repeat center center;
  background-size: contain;
  background-position: center;
}

.plan {
  aspect-ratio: 4 / 1;
  width: 100%;
  background: url('plan.png?v=20260205') no-repeat center center;
  background-size: contain;
  background-position: center;
}
.outcome {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .outcome {
    flex-direction: column;
    margin: 0 20px 0 20px;
  }
}
.histogram {
  flex: 3 1 0;
  aspect-ratio: 3 / 2;
  width: 80%;
  background: url('histogram.png?v=20260205') no-repeat center center;
  background-size: contain;
  background-position: center;
}
.analysis {
  flex: 2 1 0;
}
dl.grid {
  display: grid;
  grid-template-columns: auto max-content;
  column-gap: 8px;
  row-gap: 5px;
  max-width: 720px;
  margin: 0;
}
dd {
  color: rgb(237, 0, 0);
  margin: 0;
  font-weight: 800;
}
dt.section {
  grid-column: 1 / -1; 
  margin-top: 12px;
}
dt.section + dd { display: none; }

.text {
  color: #575757;
  line-height: 1.55;
}
.lower-manhattan {
  aspect-ratio: 3 / 2;
  width: 100%;
  background: url('lower-manhattan.png?v=20260205') no-repeat center center;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
.midtown {
  aspect-ratio: 3 / 2;
  width: 100%;
  background: url('midtown.png?v=20260205') no-repeat center center;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
.upper-manhattan {
  aspect-ratio: 3 / 2;
  width: 100%;
  background: url('upper-manhattan.png?v=20260205') no-repeat center center;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
.footer {
  font-size: clamp(10px, 1.5vw, 15px);
  line-height: 1.5;
  height: 200px;
  margin: 100px 0 0 0;
}