body {
  margin: 0;
  padding: 0;
  text-align: left;
}

main {
  max-width: 1000px;
  width: 97%;
  font-size: clamp(11px, 1.8vw, 18px);
  margin: 10px auto;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 68px;
}

/*-----------------------------------------------------------------*/
/* Header --------------------------------------------------------*/
/*-----------------------------------------------------------------*/

.header {
  font-family: Helvetica, Arial, sans-serif;
  background: rgba(255, 255, 255, 0.725);
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  margin: 0 auto;
  max-width: 1400px;
  width: 97%;

  z-index: 1000;
}

.header #name {
  margin: 20px 0;
  font-size: clamp(14px, 2.3vw, 20px);
}
#name a {
  color: inherit;
  text-decoration: none;
}
#name a:visited {
  color: inherit;
}
.subpage {
  background: transparent;
  font-size: clamp(9px, 1.8vw, 18px);
  text-align: left;
  border: none;
  color: #6d6d6d;
}
.nav {
  display: flex;
  gap: clamp(1px, 2vw, 20px);
  align-items: center;
}

.nav .subpage {
  cursor: pointer;
  transition: transform 0.2s;
}

.nav .subpage:hover {
  transform: translateY(3px);
}

.header.hidden {
  transform: translateY(-120%);
}

.header.animate,
.header.animate.hidden {
  transition: transform 1s ease-in-out;
}

/*-----------------------------------------------------------------*/
/* Content --------------------------------------------------------*/
/*-----------------------------------------------------------------*/

.main-image {
  aspect-ratio: 3 / 2;
  width: 100%;
  background: url('title.png') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 0px;
}
.title {
  color:black;
  font-size: clamp(20px, 4vw, 40px);
  font-weight: bold;
  margin-bottom: 10px;
}
.intro {
  margin: 30px 0;
  color: #6d6d6d;
}
.text {
  color: #575757;
  line-height: 1.55;
  margin-bottom: 100px;
}
.design-logic {
  aspect-ratio: 2 / 3;
  width: 100%;
  background: url('Cruciform.jpg') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}
.egressdistance {
  display: flex;
  gap: 30px;
  height: 530px;
  padding: 0 2px 0 2px;
  align-items: stretch; 
}
@media (max-width: 768px) {
  .egressdistance {
    flex-direction: column;
  }
}

#egress {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.egressimage {
  flex: 3 1 0;  
  height: 100%; 
  background: url('Cruciform2.jpg') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

.isoperi {
  aspect-ratio: 2 / 3;
  width: 100%;
  margin-top: 50px;
  clear: both;
  background: url('Cruciform3.jpg') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

.plan {
  aspect-ratio: 1 / 1;
  width: 100%;
  margin-top: 50px;
  clear: both;
  background: url('Cruciform5.jpg') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}
.view {
  aspect-ratio: 1 / 1;
  width: 100%;
  margin-top: 50px;
  clear: both;
  background: url('Cruciform6.jpg') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
  position: relative;
}

.view #view {
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 16px;
}
.res-type {
  aspect-ratio: 1 / 1;
  width: 100%;
  margin-top: 50px;
  clear: both;
  background: url('Cruciform7.jpg') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}
.matrix {
  aspect-ratio: 1 / 1;
  width: 100%;
  margin-top: 50px;
  clear: both;
  background: url('Cruciform8.jpg') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}
.model {
  aspect-ratio: 1 / 1;
  width: 100%;
  margin-top: 50px;
  clear: both;
  background: url('Cruciform9.jpg') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}
.structure {
  aspect-ratio: 1 / 1;
  width: 100%;
  margin-top: 50px;
  clear: both;
  background: url('Cruciform10.jpg') no-repeat center center;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}
.footer {
  font-size: clamp(10px, 1.5vw, 15px);
  line-height: 1.5;
  height: 200px;
  margin: 100px 0 0 0;
}